<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342815890229-7ofhcdkql5bffiq3g8ooqi2ooafdts67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342815890229-7ofhcdkql5bffiq3g8ooqi2ooafdts67</string>
	<key>API_KEY</key>
	<string>AIzaSyB3ijcsTblF65fjEXlBydDXwFO14OvSOf8</string>
	<key>GCM_SENDER_ID</key>
	<string>342815890229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.discussion</string>
	<key>PROJECT_ID</key>
	<string>discussi</string>
	<key>STORAGE_BUCKET</key>
	<string>discussi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342815890229:ios:3519c95c67f83a7f818a7c</string>
</dict>
</plist>